@font-face {
  font-family: Gilroy;
  src: url(fonts/Gilroy);
}

li {
  list-style-type: none;
}

h2 {
  font-family: "Gilroy";
  font-size: 34px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}

/* Header */
header {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;

  border-bottom: 1px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* li {
  width: 100%;
  height: auto;
  box-sizing: border-box;
} */

/* Denis Novak */
h1 {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 47.3392px;
  line-height: 59px;
}

.denis li {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

/* About me */
.about {
  width: 1445px;
  height: 506px;
  left: 4px;
  top: 776px;

  background: #f6f6f6;
}

.about li {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bolder;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

/* Skills */
.skills p {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

/* Portfolio */
.portfolio {
  background: #f6f6f6;
}
.portfolio a {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;

  color: #070707;
}

.portfolio__braun {
  border: 1px solid #000000;
  box-sizing: border-box;
}
