:root {
  --font-color: rgb(35, 13, 173);
  --font-size: 20px;
  --shadow-value: 12px -12px 15px rgb(140, 230, 88),
    2px 22px 15px rgb(230, 185, 88);
  --color-backraund: rgb(215, 255, 177);
  --gradient-background: linear-gradient(
    90deg,
    rgba(215, 255, 177, 1) 0%,
    rgba(74, 205, 56, 1) 30%,
    rgba(230, 242, 25, 1) 56%,
    rgba(207, 198, 76, 1) 81%,
    rgba(0, 212, 255, 1) 100%
  );
}

header {
  color: var(--font-color);
  text-shadow: var(--shadow-value);
}

.section1 p {
  font-size: var(--font-size);
  background-color: var(--color-backraund);
  padding: 20px;
  margin: 20px;
}

.section2 div {
  background: var(--color-backraund);
  padding: 20px;
  box-shadow: var(--shadow-value);
}

.section2 p {
  background: var(--gradient-background);
}

.section2 p:hover {
  box-shadow: var(--shadow-value);
}

/* Form */
form {
  margin: 60px auto;
  width: 400px;

  padding: 1em;
  border: 1px solid rgb(243, 97, 97);
  border-radius: 1em;

  background: var(--color-backraund);
}

fieldset {
  border: none;
  /* box-shadow: var(--shadow-value); */
  background: var(--gradient-background);
}

div + div,
fieldset {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid rgb(214, 48, 48);
}

#man,
#woman,
#no-gender,
#scales1,
#scales2,
#scales3 {
  width: auto;
}

/* textarea:focus  */
/* input:focus {
  border-color: 1px solid rgb(149, 190, 11);
} */

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.country {
  width: auto;
}
.button {
  padding-left: 90px;
}

button {
  margin-top: 0.5em;

  margin-left: 0.5em;
  /* box-shadow: var(--shadow-value); */
}

button:hover {
  box-shadow: var(--shadow-value);
}

footer {
  background: var(--color-backraund);
}

span {
  font-size: var(--font-size);
  color: rgb(17, 8, 100);
}

span:hover {
  background: var(--gradient-background);
}
