body {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(12, 6, 24);
  background-color: rgb(36, 248, 100);
}

ol > li:nth-child(3) {
  font-size: 1.25em;
}

ol > li:first-child {
  color: blue;
}

ol > li:last-child {
  color: rgb(226, 43, 43);
}

ul li:last-child {
  color: rgb(5, 15, 104);
  background: linear-gradient(
    90deg,
    rgb(97, 230, 240) 0%,
    rgb(221, 73, 73) 50%,
    rgb(191, 238, 19) 100%
  );
}

ul li:last-child:hover {
  color: rgb(5, 17, 1);
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  box-shadow: 2px 2px 25px rgb(84, 252, 17), 2px 2px 75px rgb(10, 2, 24);
}

ol > li::before {
  content: "☺";
  color: rgb(255, 22, 14);
  font-size: 35px;
  background-color: rgb(233, 204, 204);
  border-radius: 50%;
  /* padding: 2px; */
}
/* < 768px */
@media (max-width: 767px) {
  .media {
  background-color: aqua;
  width: 100%;

}
}

/* 768 px <= viewport */
@media (min-width: 768px) {
  .media {
    width: 80%;
    background-color: #fff;
  }
}

/* 1024< viewport <1200 */
@media (min-width: 1024px) and (max-width: 1199px) {
  .media {
    width: 50%;
    background-color: blueviolet;
  }
}
