.fish__bold-text {
  color: red; 
  background-color: gold;
}

.fish__fragment {
  color: red; 
  background-color: gold;
}

.fish__italic-text {
  color: red; 
  background-color: gold;
}

.fish__very-mportant {
  color: red; 
  background-color: gold;
}

.fish__anchor {
  color: red; 
  background-color: gold;
}

#home-fish {
  background-color: blue; 
  color: white; 
  width: 500px;
  height: 300px;
  padding: 30px;
  border: 15px solid rgb(80, 223, 24); 
  margin: 25px 10px 15px 5px;
}